.dynamics {
  padding: 35px 0 200px;

  &__title-wrapper {
    margin-bottom: 15px;
  }

  &__content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__content {
    padding: 31px 31px 22px;
    background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 14.7484px;
    display: flex;
    flex-direction: column;
    gap: 31px;

    &--column {
      grid-column: span 2;
    }

    &--column--full {
      grid-column: 1/-1;
    }

    &--stat {
      background-color: rgba(38, 38, 38, 0.35);
      padding: 42px 26px 35px;
      border: none;
      gap: 27px;
    }
  }

  &__content-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__content-title-inner {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__content-title {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
  }

  &__content-tabs {
    display: flex;
  }

  &__content-tab {
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    padding: 14px 15px;
    background-color: rgba(255, 255, 255, 0.1);

    &:first-child {
      border-radius: 10px 0 0 10px;
    }

    &:last-child {
      border-radius: 0 10px 10px 0;
    }

    &--active {
      color: #0F0F0F;
      background-color: #FFFFFF;
    }
  }

  &__content-list-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  &__content-list-inf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    min-height: 100%;
    font-weight: 500;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.68);
    padding-bottom: 11px;
  }

  &__content-list {
    display: flex;
    gap: 16px;
    width: 100%;
    max-width: 1265px;
    overflow-x: auto;
    padding-bottom: 28px;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #282828 #0B0B0B;

    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-track {
      height: 3px;
      background-color: #0B0B0B;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #282828;
      opacity: 1;
    }

    &::-webkit-scrollbar-thumb:vertical,
    &::-webkit-scrollbar-thumb:horizontal {
      visibility: visible;
    }
  }

  &__content-item {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    flex-shrink: 0;
  }

  &__content-item-title {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    padding: 20px 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 8px 8px 0px 0px;
  }

  &__content-item-val {
    font-weight: 500;
    font-size: 14px;
    color: #42F43D;
    padding: 20px 15px;
    text-align: center;
    background: linear-gradient(0deg, rgba(42, 210, 0, 0.1), rgba(42, 210, 0, 0.1)), rgba(255, 255, 255, 0.03);
    border-radius: 0px 0px 8px 8px;
  }

  &__content-servers {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  &__content-server {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__content-server-inf-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  &__content-server-inf {
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
  }

  &__content-server-val {
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__content-server-progress {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    width: 100%;
    height: 18px;

    span {
      content: "";
      position: absolute;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      width: calc(33% - 6px);
      height: 12px;
      background-size: cover;
      background-position: right center;
      background-repeat: no-repeat;
      background-image: url("/dynamics/dynamics-progress.svg");
      border-radius: 20px;
    }
  }

  &__content-stat-btn {
    display: flex;
    align-items: center;
    gap: 3px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    padding: 12px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }

  &__content-alerts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__content-alert {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 29px 22px;
    background-color: rgba(37, 0, 0, 0.4);
    border: 1px solid #FF3030;
    border-radius: 8px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      width: 4px;
      height: 49px;
      background: #FF3030;
      border-radius: 20px;
    }
  }

  &__content-alert-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;

    span {
      font-weight: 500;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__content-admins {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__content-admin {
    position: relative;
    padding: 27px 19px;
    padding-left: 57px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__content-admin-icon {
    position: absolute;
    left: 22px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__content-admin-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;

    span {
      font-weight: 500;
      font-size: 12px;
      color: #FFFFFF;
    }
  }

  &__content-admin-val {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
  }

  &__content-svg-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__content-svg-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;

    span {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.55);
    }
  }

  &__legend {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__legend-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__legend-item-val {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
  }

  &__legend-item-text {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: #FFFFFF;
    text-align: right;
  }
}

@media (max-width: 1199.98px) {
  .dynamics {
    &__content-list {
      grid-template-columns: repeat(4, 1fr);
    }

    &__content-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}