.money {
  padding-bottom: 242px;

  &__content {
    padding: 42px 31px 29px;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 14.7484px;
    margin-bottom: 49px;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 15px;
  }

  &__operations-title {
    margin-bottom: 42px;
  }

  &__operations {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__operation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 18px 19px;
    background-color: #0A0A0A;
    border-radius: 14.7484px;
  }

  &__operation-text-wrapper {
    display: flex;
    align-items: center;
    gap: 19px;
  }

  &__operation-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;

    span {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__operation-val {
    font-weight: 500;
    font-size: 12px;
    color: #42F43D;
  }
}