.products {
  padding-top: 40px;

  &__inf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 25px;
  }

  &__tabs {
    display: flex;
    gap: 11px;
  }

  &__tab {
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    padding: 16px 18px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    &--active {
      color: #000000;
      background-color: #fff;
    }
  }

  &__list-wrapper {
    overflow-x: auto;
    margin-bottom: 22px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 1440px;
  }

  &__item {
    display: grid;
    grid-template-columns: 360px repeat(3, 1fr);
    align-items: center;
    background: linear-gradient(0deg, #0A0A0A, #0A0A0A), rgba(38, 38, 38, 0.35);
    border-radius: 14.7484px;
    padding: 0 26px 0 22px;
    gap: 23px;
  }

  &__btn-more {
    display: block;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    padding: 16px 18px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 0 auto;
  }

  &__item-number {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 6.85714px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--first {
      background: linear-gradient(258.58deg, #F2C038 -1.92%, #70572F 100%);
    }

    &--second {
      background: linear-gradient(258.58deg, #B5B5B5 -1.92%, #303030 100%), rgba(255, 255, 255, 0.15);
    }

    &--third {
      background: linear-gradient(258.58deg, #B2753F -1.92%, #4E3317 100%), rgba(255, 255, 255, 0.15);
    }
  }

  &__item-column {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);

    span {
      display: flex;
      align-items: center;
      gap: 3px;
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: #FFFFFF;
    }

    &--progress {
      position: relative;
      width: 148px;
      height: 8px;
      background-color: rgba(255, 255, 255, 0.15);
      border-radius: 20px;

      span {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: #4FDD4A;
        border-radius: 20px;
      }
    }

    &--progress--yellow {
      &::after {
        background-color: #F4C93D;
        width: 50%;
      }
    }

    &--percent {
      span {
        font-weight: 500;
        font-size: 12px;
        color: #4FDD4A;
      }
    }

    &--percent--yellow {
      span {
        color: #F4C93D;
      }
    }
  }

  &__item-column-inner {
    display: flex;
    align-items: center;
    gap: 23px;

    &--gap {
      gap: 71px;
    }
  }
}

@media (max-width: 991.98px) {
  .products {
    &__inf {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}