.helpers {
  padding-top: 30px;
  padding-bottom: 133px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.54);
    padding: 34px 34px 34px 110px;
    background: linear-gradient(123.26deg, #4C4C4C 0.93%, rgba(10, 10, 10, 0) 53.21%), #0A0A0A;
    border-radius: 14.7484px;

    img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }

    span {
      font-weight: 800;
      font-size: 24px;
      color: #FFFFFF;
    }
  }

  &__filters-title {
    display: flex;
    align-items: center;
    gap: 34px;
  }

  &__filters-input {
    padding: 25px 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    background-color: transparent;
    min-width: 277px;

    &,
    &::placeholder {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__table-column {
    display: flex;
    flex-direction: column;
    gap: 6px;

    span {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__table-column-lvl {
    font-weight: 500;
    font-size: 12px;
    color: #209BFF;
    padding: 16px 15px;
    background: rgba(32, 155, 255, 0.2);
    border-radius: 10px;
  }

  &__table-header {
    grid-template-columns: repeat(6, 1fr) !important;
  }

  &__table-row {
    grid-template-columns: repeat(6, 1fr) !important;
  }
}

@media (max-width: 1199.98px) {
  .helpers {
    &__blocks {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 991.98px) {
  .helpers {
    &__filters {
      flex-direction: column;
    }

    &__filters-title {
      gap: 15px;
      flex-direction: column;
      align-items: flex-start;

      &--center {
        align-items: center;
      }
    }
  }
}