.cards-inf {
  padding: 37px 0 0;

  &__title {
    margin-bottom: 37px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;

    &--margin {
      margin-bottom: 37px;
    }
  }

  &__item {
    position: relative;
    min-height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 31px 24px 34px;
    background: linear-gradient(123.26deg, rgba(255, 125, 44, 0.6) 0.93%, rgba(10, 10, 10, 0) 53.21%), #0F0700;
    border-radius: 14.7484px;

    &--column {
      justify-content: center;
      gap: 20px;
    }

    &--purple {
      background: linear-gradient(123.26deg, rgba(192, 87, 253, 0.6) 0.93%, rgba(10, 10, 10, 0) 53.21%), #0A000F;
    }

    &--grey {
      background: linear-gradient(123.26deg, #797979 0.93%, rgba(10, 10, 10, 0) 53.21%), #0D0D0D;
    }
  }

  &__item-img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__item-text {
    position: relative;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    color: rgba(255, 255, 255, 0.55);
  }

  &__item-title {
    position: relative;
    font-weight: 500;
    font-size: 22px;
    line-height: 85%;
    color: #FFFFFF;
    margin: 0;
    width: 100%;
    max-width: 191px;
  }

  &__item-subtitle {
    font-weight: 800;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0;
    position: relative;
  }

  &__item-inf {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__item-price {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 21px;
    color: #FFFFFF;
  }

  &__item-percent {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 21px;
    color: #42F43D;

    &--yellow {
      color: #F4C93D;
    }
  }

  &__item-val {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 9px;

    span {
      font-weight: 800;
      font-size: 21px;
      color: rgba(255, 255, 255, 0.53);
    }
  }
}

@media (max-width: 1199.98px) {
  .cards-inf {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}