.header {
  &__nav {
    padding: 40px 0 37px;
  }

  &__list {
    display: flex;
    align-items: center;
    padding: 0 44px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    padding: 11px 15px;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: 85%;
    transition: color 0.3s ease-in-out;

    svg {
      path {
        fill: currentColor;
      }
    }

    &--active {
      background: rgba(254, 204, 10, 0.1);
      color: #FECC0A;
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background-color: #191919;
    border-radius: 20px;
    padding: 19px 21px 19px 28px;

    &::after {
      content: "";
      position: absolute;
      right: 25px;
      top: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("/header/header-profile-bg.svg");
      width: 303px;
      height: 100%;
      pointer-events: none;
    }
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__logo-text {
    font-weight: 500;
    font-size: 10.3814px;
    line-height: 85%;
    color: #FFFFFF;
  }

  &__profile-wrapper {
    display: flex;
    gap: 33px;
  }

  &__profile-content {
    display: flex;
    gap: 21px;
  }

  &__profile {
    display: flex;
    align-items: center;

    >:first-child {
      margin-right: 18px;
    }
  }

  &__profile-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: #FFFFFF;

    span {
      font-weight: 700;
      font-size: 12px;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .header {
    &__link {
      &:hover {
        color: #ffe375;
      }
    }
  }
}

@media (max-width: 1399.98px) {
  .header {
    &__list {
      padding: 0;
    }
  }
}

@media (max-width: 1199.98px) {
  .header {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
    }

    &__link {
      min-width: 200px;

      br {
        display: none;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .header {
    &__content {
      flex-direction: column;
    }
  }
}