.logs {
  padding: 37px 0 227px;

  --row-val: 150px 66px 290px 146px 270px 116px 123px;

  &__filters-wrapper {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 22px 31px 32px;
    background-color: rgba(38, 38, 38, 0.35);
    border-radius: 14.7484px;
    margin-bottom: 37px;
  }

  &__filters-nav {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  &__filters-nav-block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--bg {
      padding: 20px 23px 33px;
      background-color: rgba(5, 5, 5, 0.85);
      border-radius: 14.7484px;
    }
  }

  &__filters-nav-title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
  }

  &__filters-nav-content {
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 41px;
  }

  &__filters-nav-label {
    display: flex;
    align-items: center;
    gap: 9px;
    cursor: pointer;

    input {
      display: none;

      &:checked {
        +div {
          span {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  &__filters-nav-label-square {
    position: relative;
    width: 22px;
    height: 22px;
    background-color: rgba(152, 152, 152, 0.1);
    border-radius: 8px;

    span {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      background-color: rgba(254, 204, 10, 0.1);
      opacity: 0;
      visibility: hidden;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #FECC0A;
        border-radius: 8px;
      }

      &::before {
        width: 12px;
        height: 2px;
      }

      &::after {
        width: 2px;
        height: 12px;
      }
    }
  }

  &__filters-nav-label-text {
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
  }

  &__filters-form {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__filters-form-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  &__filters-form-block {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__filters-form-input {
    padding: 23px 15px;
    background-color: rgba(0, 0, 0, 0.67);
    border-radius: 10px;
    border: none;

    &,
    &::placeholder {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: #FFFFFF;
    }
  }

  &__filters-form-btns {
    display: flex;
    gap: 15px;
  }

  &__filters-form-btn {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
  }

  &__filters-table-wrapper {
    overflow-x: auto;
  }

  &__filters-table {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 34px;

    &--logs {
      width: 1440px;
    }
  }

  &__filters-table-header {
    display: grid;
    grid-template-columns: var(--row-val);
    padding: 0 20px;
    gap: 40px;
  }

  &__filters-table-header-column {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
  }

  &__filters-table-row {
    display: grid;
    grid-template-columns: var(--row-val);
    background-color: #0A0A0A;
    border-radius: 14.7484px;
    padding: 17px 20px;
    align-items: center;
    gap: 40px;

    >* {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__filters-table-column {
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
  }

  &__filters-pagination {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  &__filters-pagination-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 42px;
    height: 42px;

    &--nav {
      width: initial;
      height: initial;
      padding: 0 18px;
      min-height: 100%;
    }

    &--inactive {
      opacity: 0.5;
    }

    &--active {
      color: #000000;
      background-color: #FFFFFF;
    }
  }

  &__filters-table-server {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 41px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    &--orange {
      background: linear-gradient(141.28deg, #F6BC82 5.93%, #C94718 91.7%);
    }

    &--blue {
      background: linear-gradient(141.28deg, #9C82F6 5.93%, #3F18C9 91.7%);
    }

    &--green {
      background: linear-gradient(141.28deg, #53D58E 5.93%, #00713C 91.7%);
    }

    &--red {
      background: linear-gradient(141.28deg, #F68282 5.93%, #C91818 91.7%);
    }

    &--sky {
      background: linear-gradient(141.28deg, #3CBEFF 5.93%, #187FC9 91.7%);
    }
  }

  // 

  &__column-center {
    justify-self: center;
    text-align: center;
  }

  &__column-end {
    justify-self: end;
    text-align: right;
  }
}

@media (max-width: 1399.98px) {
  .logs {
    &__filters-table-header-column {
      font-size: 12px;
    }
  }
}

@media (max-width: 1199.98px) {
  .logs {
    --row-val: 1fr 1fr 1fr 1fr 1.6fr 1fr 1fr;

    &__filters-table-row {
      gap: 15px;
    }

    &__filters-table-column {
      >svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .logs {
    &__filters-nav-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    &__filters-table-header {
      padding: 0 10px;
      gap: 10px;
    }

    &__filters-table-header-column {
      font-size: 10px;
    }

    &__filters-table-row {
      padding: 17px 10px;
      gap: 10px;
    }

    &__filters-table-column {
      font-size: 10px;
    }
  }
}