.general {
  padding-bottom: 227px;

  &__title {
    margin-bottom: 38px;
  }

  &__characters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 37px;
  }

  &__character {
    position: relative;
    padding: 27px 21px 21px;
    padding-left: 180px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #060606;
    border-radius: 14.75px;
  }

  &__character-img-wrapper {
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;

    img {
      display: block;
    }
  }

  &__character-label {
    position: absolute;
    left: 50%;
    bottom: 19px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 7px 19px;
    background: linear-gradient(141.28deg, #9C82F6 5.93%, #3F18C9 91.7%);
    backdrop-filter: blur(12.45px);
    border-radius: 5px;

    span {
      font-family: 'Manrope', sans-serif;
      font-weight: 800;
      font-size: 10px;
      color: rgba(255, 255, 255, 0.54);
    }
  }

  &__character-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__character-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__character-item-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.54);
    min-width: 91px;

    span {
      font-weight: 500;
      font-size: 13px;
      color: #FFFFFF;
    }
  }

  &__character-inf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__character-current {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #FFFFFF;
    padding: 13px 38px;
    background-color: rgba(18, 18, 18, 0.83);
    border-radius: 6.19565px;
  }

  &__character-online {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 11px;
    color: #FFFFFF;
  }

  &__character-show {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: rgba(146, 146, 146, 0.33);
    backdrop-filter: blur(15.2851px);
    border-radius: 6.83133px;
  }

  &__finance {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px;
    margin-bottom: 37px;
  }

  &__finance-content {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  &__finance-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
  }

  &__finance-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 34px 37px;
    padding-left: 110px;
    background: linear-gradient(123.26deg, #7ACC33 0.93%, rgba(10, 10, 10, 0) 53.21%), #080F00;
    border-radius: 14.7484px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.54);

    span {
      font-family: 'Unbounded', sans-serif;
      font-weight: 800;
      font-size: 24px;
      color: #FFFFFF;
      line-height: 85%;
    }

    img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 97px;
    }

    &--column {
      grid-column: 1/-1;
    }

    &--grey {
      background: linear-gradient(123.26deg, #797979 0.93%, rgba(10, 10, 10, 0) 53.21%), #0D0D0D;
    }

    &--smaller {
      padding: 27px 37px 27px 110px;

      span {
        font-size: 22px;
      }
    }
  }

  &__finance-item-btn {
    position: absolute;
    right: 23px;
    top: 50%;
    transform: translateY(-50%);
    width: 37px;
    height: 40px;
  }

  &__finance-etc {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  &__finance-etc-title {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
  }

  &__accounts-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 15px;
  }

  &__accounts-item {
    padding: 16px 37px 17px 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-radius: 14.75px;

    &--tg {
      background: linear-gradient(289.16deg, #0093D2 -3.23%, rgba(10, 10, 10, 0) 105.06%), linear-gradient(123.26deg, #0093D2 0.93%, rgba(10, 10, 10, 0) 53.21%), #000B0F;
    }

    &--vk {
      background: linear-gradient(289.16deg, #0062D2 -3.23%, rgba(10, 10, 10, 0) 105.06%), linear-gradient(123.26deg, #0062D2 0.93%, rgba(10, 10, 10, 0) 53.21%);
    }

    &--google {
      background: linear-gradient(289.16deg, #D7692E -3.23%, rgba(134, 68, 32, 0.605769) 39.46%, rgba(10, 10, 10, 0) 105.06%), linear-gradient(123.26deg, #FF4545 0.93%, rgba(10, 10, 10, 0) 53.21%);
    }
  }

  &__accounts-item-logo {
    display: flex;
    align-items: center;
    gap: 26px;
  }

  &__accounts-item-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__accounts-item-title {
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 11px;
      color: #4ED22D;
      padding: 7px 10px;
      background-color: rgba(42, 210, 0, 0.1);
      border-radius: 6.19565px;
    }
  }

  &__accounts-item-id {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.54);
  }

  &__accounts-item-inf {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.26);
  }

  &__accounts-item-btns {
    display: flex;
    gap: 15px;
  }

  &__accounts-safe {
    position: relative;
    padding: 18px;
    padding-left: 80px;
    background: linear-gradient(90deg, rgba(42, 210, 0, 0.05) 0%, rgba(22, 108, 0, 0) 100%);
    border-radius: 14.75px;
    margin-bottom: 37px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
    }
  }

  &__accounts-safe-text {
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-weight: 700;
    font-size: 13px;
    color: #C7FF3F;

    span {
      font-family: 'Manrope', sans-serif;
      font-weight: 600;
      font-size: 12px;
      color: rgba(248, 255, 216, 0.54);
    }
  }

  &__history-table {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 24px;
  }

  &__history-table-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 5px 30px 24px;
    align-items: center;
    justify-items: start;

    &--6 {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__history-table-header-column {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
  }

  &__history-table-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 17px 30px;
    background-color: #0A0A0A;
    border-radius: 14.7484px;
    align-items: center;
    justify-items: start;

    &--6 {
      grid-template-columns: repeat(6, 1fr);

      .general__history-table-column {
        &::after {
          display: none;
        }
      }
    }
  }

  &__history-table-column {
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;

    &:first-child {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: -100px;
        top: 50%;
        transform: translateY(-50%);
        width: 81px;
        height: 76px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("/general/general-history-arrow.svg");
      }
    }
  }

  &__history-table-column-label {
    font-weight: 500;
    font-size: 12px;
    color: #43C91B;
    padding: 16px 15px;
    background-color: rgba(42, 210, 0, 0.1);
    border-radius: 10px;
  }

  &__history-inf {
    padding: 15px 19px;
    background: linear-gradient(104.1deg, #2F3136 0%, #0C0C0C 100%), rgba(38, 38, 38, 0.35);
    border-radius: 14.75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 37px;
  }

  &__history-current {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);

    span {
      font-weight: 600;
      font-size: 12px;
      color: #FFFFFF;
    }
  }

  &__history-text {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__history-label {
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    padding: 13px 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  &__history-descr {
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;

    span {
      color: #F43D3D;
    }
  }

  &__history-twin {
    padding: 29px 17px 37px;
    background-color: rgba(38, 38, 38, 0.35);
    border-radius: 14.7484px;
  }

  &__history-twin-title {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    margin-bottom: 19px;
  }

  &__history-twin-blocks {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 36px;
  }

  &__history-twin-block {
    padding: 21px 19px 21px 33px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__history-twin-block-text {
    display: flex;
    align-items: center;
    gap: 21px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #FFFFFF;

    span {
      font-weight: 700;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__history-twin-block-check {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
  }

  &__history-twin-block-check-btn {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    padding: 15px 10px;
    background-color: rgba(146, 146, 146, 0.33);
    border-radius: 8px;
  }

  &__history-twin-descr {
    font-weight: 500;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
  }
}